/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.mt-medtango {
  /* HTML5 display-role reset for older browsers */
}
.mt-medtango div,
.mt-medtango span,
.mt-medtango applet,
.mt-medtango object,
.mt-medtango iframe,
.mt-medtango h1,
.mt-medtango h2,
.mt-medtango h3,
.mt-medtango h4,
.mt-medtango h5,
.mt-medtango h6,
.mt-medtango p,
.mt-medtango blockquote,
.mt-medtango pre,
.mt-medtango a,
.mt-medtango abbr,
.mt-medtango acronym,
.mt-medtango address,
.mt-medtango big,
.mt-medtango cite,
.mt-medtango code,
.mt-medtango del,
.mt-medtango dfn,
.mt-medtango em,
.mt-medtango img,
.mt-medtango ins,
.mt-medtango kbd,
.mt-medtango q,
.mt-medtango s,
.mt-medtango samp,
.mt-medtango small,
.mt-medtango strike,
.mt-medtango strong,
.mt-medtango sub,
.mt-medtango sup,
.mt-medtango tt,
.mt-medtango var,
.mt-medtango b,
.mt-medtango u,
.mt-medtango i,
.mt-medtango center,
.mt-medtango dl,
.mt-medtango dt,
.mt-medtango dd,
.mt-medtango ol,
.mt-medtango ul,
.mt-medtango li,
.mt-medtango fieldset,
.mt-medtango form,
.mt-medtango label,
.mt-medtango legend,
.mt-medtango table,
.mt-medtango caption,
.mt-medtango tbody,
.mt-medtango tfoot,
.mt-medtango thead,
.mt-medtango tr,
.mt-medtango th,
.mt-medtango td,
.mt-medtango article,
.mt-medtango aside,
.mt-medtango canvas,
.mt-medtango details,
.mt-medtango embed,
.mt-medtango figure,
.mt-medtango figcaption,
.mt-medtango footer,
.mt-medtango header,
.mt-medtango hgroup,
.mt-medtango menu,
.mt-medtango nav,
.mt-medtango output,
.mt-medtango ruby,
.mt-medtango section,
.mt-medtango summary,
.mt-medtango time,
.mt-medtango mark,
.mt-medtango audio,
.mt-medtango video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.mt-medtango article,
.mt-medtango aside,
.mt-medtango details,
.mt-medtango figcaption,
.mt-medtango figure,
.mt-medtango footer,
.mt-medtango header,
.mt-medtango hgroup,
.mt-medtango menu,
.mt-medtango nav,
.mt-medtango section {
  display: block;
}
.mt-medtango body {
  line-height: 1;
}
.mt-medtango ol,
.mt-medtango ul {
  list-style: none;
}
.mt-medtango blockquote,
.mt-medtango q {
  quotes: none;
}
.mt-medtango blockquote:before,
.mt-medtango blockquote:after,
.mt-medtango q:before,
.mt-medtango q:after {
  content: "";
  content: none;
}
.mt-medtango table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mt-medcurso.mt-nef.mt-2026 {
  --mt-color-titulos-capitulo-fonte: #9a999e;
  --mt-color-titulos-capitulo-linha: #9abec0;
  --mt-color-titulos-h1-fonte: #455a5a;
  --mt-color-titulos-h1-linha: #9abec0;
  --mt-color-titulos-sub-h1-fonte: #607b7a;
  --mt-color-titulos-sub-h1-linha: #9abec0;
  --mt-color-titulos-h2-fonte: #455a5a;
  --mt-color-titulos-h2-linha: #ccdfdf;
  --mt-color-titulos-h3-fonte: #7d8c8b;
  --mt-color-titulos-h3-linha: #ccdfdf;
  --mt-color-titulos-h4-fonte: #7d8c8b;
  --mt-color-titulos-h5-fonte: #455a5a;
  --mt-color-titulos-resumo-fonte: #9abec0;
  --mt-color-imagens-fonte: #455a5a;
  --mt-color-imagens-emphasys: #455a5a;
  --mt-color-textos-paragrafo-fonte: #000;
  --mt-color-textos-paragrafo-strong: #455a5a;
  --mt-color-textos-paragrafo-underline: #9abec0;
  --mt-color-textos-lista: #7d8c8b;
  --mt-color-textos-highlight: #b80a28;
  --mt-color-quadros-fonte-01: #ffffff;
  --mt-color-quadros-fonte-02: #455a5a;
  --mt-color-quadros-bg-01: #455a5a;
  --mt-color-quadros-bg-02: #ccdfdf;
  --mt-color-quadros-bg-03: #ecefee;
  --mt-color-quadros-linha-01: #9abec0;
  --mt-color-quadros-linha-02: #455a5a;
  --mt-color-quadros-pictogramas-fonte-01: #455a5a;
  --mt-color-quadros-pictogramas-fonte-02: #615936;
  --mt-color-quadros-pictogramas-fonte-03: #7d8c8b;
  --mt-color-quadros-pictogramas-fonte-04: #9abec0;
  --mt-color-quadros-pictogramas-fonte-05: #000000;
  --mt-color-quadros-pictogramas-bg-01: #ccdfdf;
  --mt-color-quadros-pictogramas-bg-02: #ded8cb;
  --mt-color-quadros-pictogramas-bg-03: #ebf2f2;
  --mt-color-quadros-pictogramas-linha-01: #9abec0;
  --mt-color-quadros-pictogramas-linha-02: #ccdfdf;
  --mt-color-tabela-fonte-01: #455a5a;
  --mt-color-tabela-fonte-02: #ffffff;
  --mt-color-tabela-fonte-03: #000000;
  --mt-color-tabela-bg-01: #455a5a;
  --mt-color-tabela-bg-02: #9abec0;
  --mt-color-tabela-bg-03: #b3cfcf;
  --mt-color-tabela-bg-04: #ccdfdf;
  --mt-color-tabela-bg-05: #e6efef;
  --mt-color-tabela-bg-06: #ecefee;
  --mt-color-tabela-linha-01: #ffffff;
  --mt-color-tabela-linha-02: #9abec0;
}

.mt-fig {
  color: #455a5a;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}

.pull-right {
  --mt-pull-right-width: 50%;
  --mt-pull-right-shape-margin: 24px;
  --mt-pull-right-margin: 0 0 0 24px;
  margin: var(--mt-pull-right-margin);
  width: var(--mt-pull-right-width);
  shape-outside: content-box;
  float: right;
  shape-margin: var(--mt-pull-right-shape-margin);
}

.mt-medtango {
  background-color: #282828;
}
