/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.medtango {
  /* HTML5 display-role reset for older browsers */
}
.medtango div,
.medtango span,
.medtango applet,
.medtango object,
.medtango iframe,
.medtango h1,
.medtango h2,
.medtango h3,
.medtango h4,
.medtango h5,
.medtango h6,
.medtango p,
.medtango blockquote,
.medtango pre,
.medtango a,
.medtango abbr,
.medtango acronym,
.medtango address,
.medtango big,
.medtango cite,
.medtango code,
.medtango del,
.medtango dfn,
.medtango em,
.medtango img,
.medtango ins,
.medtango kbd,
.medtango q,
.medtango s,
.medtango samp,
.medtango small,
.medtango strike,
.medtango strong,
.medtango sub,
.medtango sup,
.medtango tt,
.medtango var,
.medtango b,
.medtango u,
.medtango i,
.medtango center,
.medtango dl,
.medtango dt,
.medtango dd,
.medtango ol,
.medtango ul,
.medtango li,
.medtango fieldset,
.medtango form,
.medtango label,
.medtango legend,
.medtango table,
.medtango caption,
.medtango tbody,
.medtango tfoot,
.medtango thead,
.medtango tr,
.medtango th,
.medtango td,
.medtango article,
.medtango aside,
.medtango canvas,
.medtango details,
.medtango embed,
.medtango figure,
.medtango figcaption,
.medtango footer,
.medtango header,
.medtango hgroup,
.medtango menu,
.medtango nav,
.medtango output,
.medtango ruby,
.medtango section,
.medtango summary,
.medtango time,
.medtango mark,
.medtango audio,
.medtango video {
  font-size: 100%;
  line-height: 1 !important;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.medtango article,
.medtango aside,
.medtango details,
.medtango figcaption,
.medtango figure,
.medtango footer,
.medtango header,
.medtango hgroup,
.medtango menu,
.medtango nav,
.medtango section {
  display: block;
}
.medtango body {
  line-height: 1;
}
.medtango ol,
.medtango ul {
  list-style: none;
}
.medtango blockquote,
.medtango q {
  quotes: none;
}
.medtango blockquote:before,
.medtango blockquote:after,
.medtango q:before,
.medtango q:after {
  content: "";
  content: none;
}
.medtango table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mt-medcurso.mt-nef.mt-2026 {
  --mt-color-titulos-capitulo-fonte: #9a999e;
  --mt-color-titulos-capitulo-linha: #9abec0;
  --mt-color-titulos-h1-fonte: #455a5a;
  --mt-color-titulos-h1-linha: #9abec0;
  --mt-color-titulos-sub-h1-fonte: #607b7a;
  --mt-color-titulos-sub-h1-linha: #9abec0;
  --mt-color-titulos-h2-fonte: #455a5a;
  --mt-color-titulos-h2-linha: #ccdfdf;
  --mt-color-titulos-h3-fonte: #7d8c8b;
  --mt-color-titulos-h3-linha: #ccdfdf;
  --mt-color-titulos-h4-fonte: #7d8c8b;
  --mt-color-titulos-h5-fonte: #455a5a;
  --mt-color-titulos-resumo-fonte: #9abec0;
  --mt-color-imagens-fonte: #455a5a;
  --mt-color-imagens-emphasys: #455a5a;
  --mt-color-textos-paragrafo-fonte: #000;
  --mt-color-textos-paragrafo-strong: #455a5a;
  --mt-color-textos-paragrafo-underline: #9abec0;
  --mt-color-textos-lista: #7d8c8b;
  --mt-color-textos-highlight: #b80a28;
  --mt-color-quadros-fonte-01: #ffffff;
  --mt-color-quadros-fonte-02: #455a5a;
  --mt-color-quadros-bg-01: #455a5a;
  --mt-color-quadros-bg-02: #ccdfdf;
  --mt-color-quadros-bg-03: #ecefee;
  --mt-color-quadros-linha-01: #9abec0;
  --mt-color-quadros-linha-02: #455a5a;
  --mt-color-quadros-pictogramas-fonte-01: #455a5a;
  --mt-color-quadros-pictogramas-fonte-02: #615936;
  --mt-color-quadros-pictogramas-fonte-03: #7d8c8b;
  --mt-color-quadros-pictogramas-fonte-04: #9abec0;
  --mt-color-quadros-pictogramas-fonte-05: #000000;
  --mt-color-quadros-pictogramas-bg-01: #ccdfdf;
  --mt-color-quadros-pictogramas-bg-02: #ded8cb;
  --mt-color-quadros-pictogramas-bg-03: #ebf2f2;
  --mt-color-quadros-pictogramas-linha-01: #9abec0;
  --mt-color-quadros-pictogramas-linha-02: #ccdfdf;
  --mt-color-tabela-fonte-01: #455a5a;
  --mt-color-tabela-fonte-02: #ffffff;
  --mt-color-tabela-fonte-03: #000000;
  --mt-color-tabela-bg-01: #455a5a;
  --mt-color-tabela-bg-02: #9abec0;
  --mt-color-tabela-bg-03: #b3cfcf;
  --mt-color-tabela-bg-04: #ccdfdf;
  --mt-color-tabela-bg-05: #e6efef;
  --mt-color-tabela-bg-06: #ecefee;
  --mt-color-tabela-linha-01: #ffffff;
  --mt-color-tabela-linha-02: #9abec0;
}
