.mt-medcurso.mt-car.mt-2026 {
  --mt-color-titulo-capitulo-fonte: #9e9999;
  --mt-color-titulo-capitulo-linha: #c09a9a;
  --mt-color-titulo-h1-fonte: #5a4545;
  --mt-color-titulo-h1-linha: #c09a9a;
  --mt-color-titulo-sub-h1-fonte: #7b6060;
  --mt-color-titulo-sub-h1-linha: #c09a9a;
  --mt-color-titulo-h2-fonte: #5a4545;
  --mt-color-titulo-h2-linha: #dfcccc;
  --mt-color-titulo-h3-fonte: #8c7d7d;
  --mt-color-titulo-h3-linha: #dfcccc;
  --mt-color-titulo-h4-fonte: #8c7d7d;
  --mt-color-titulo-h5-fonte: #5a4545;
  --mt-color-titulo-resumo-fonte: #c09a9a;
  --mt-color-imagens: #5a4545;
  --mt-color-textos-basico: #5a4545;
  --mt-color-textos-lista: #8c7d7d;
  --mt-color-textos-underline: #c09a9a;
  --mt-color-textos-red: #1eb80a;
  --mt-color-quadros-fonte-01: #ffffff;
  --mt-color-quadros-fonte-02: #5a4545;
  --mt-color-quadros-bg-01: #5a4545;
  --mt-color-quadros-bg-02: #dfcccc;
  --mt-color-quadros-bg-03: #efecec;
  --mt-color-quadros-linha-01: #c09a9a;
  --mt-color-quadros-linha-02: #5a4545;
  --mt-color-quadros-pictogramas-fonte-01: #5a4545;
  --mt-color-quadros-pictogramas-fonte-02: #613636;
  --mt-color-quadros-pictogramas-fonte-03: #9e4747;
  --mt-color-quadros-pictogramas-fonte-04: #c09a9a;
  --mt-color-quadros-pictogramas-fonte-05: #000000;
  --mt-color-quadros-pictogramas-bg-01: #dfcccc;
  --mt-color-quadros-pictogramas-bg-02: #decbcb;
  --mt-color-quadros-pictogramas-bg-03: #f2ebeb;
  --mt-color-quadros-pictogramas-linha-01: #c09a9a;
  --mt-color-quadros-pictogramas-linha-02: #dfcccc;
  --mt-color-tabela-fonte-01: #5a4545;
  --mt-color-tabela-fonte-02: #ffffff;
  --mt-color-tabela-fonte-03: #000000;
  --mt-color-tabela-bg-01: #5a4545;
  --mt-color-tabela-bg-02: #c09a9a;
  --mt-color-tabela-bg-03: #cfb3b3;
  --mt-color-tabela-bg-04: #dfcccc;
  --mt-color-tabela-bg-05: #efe6e6;
  --mt-color-tabela-bg-06: #efecec;
  --mt-color-tabela-linha-01: #ffffff;
  --mt-color-tabela-linha-02: #c09a9a;
}

.mt-medcurso.mt-nef.mt-2026 {
  --mt-color-titulo-capitulo-fonte: #9a999e;
  --mt-color-titulo-capitulo-linha: #9abec0;
  --mt-color-titulo-h1-fonte: #455a5a;
  --mt-color-titulo-h1-linha: #9abec0;
  --mt-color-titulo-sub-h1-fonte: #607b7a;
  --mt-color-titulo-sub-h1-linha: #9abec0;
  --mt-color-titulo-h2-fonte: #455a5a;
  --mt-color-titulo-h2-linha: #ccdfdf;
  --mt-color-titulo-h3-fonte: #7d8c8b;
  --mt-color-titulo-h3-linha: #ccdfdf;
  --mt-color-titulo-h4-fonte: #7d8c8b;
  --mt-color-titulo-h5-fonte: #455a5a;
  --mt-color-titulo-resumo-fonte: #9abec0;
  --mt-color-imagens: #455a5a;
  --mt-color-textos-basico: #455a5a;
  --mt-color-textos-lista: #7d8c8b;
  --mt-color-textos-underline: #9abec0;
  --mt-color-textos-red: #b80a28;
  --mt-color-quadros-fonte-01: #ffffff;
  --mt-color-quadros-fonte-02: #455a5a;
  --mt-color-quadros-bg-01: #455a5a;
  --mt-color-quadros-bg-02: #ccdfdf;
  --mt-color-quadros-bg-03: #ecefee;
  --mt-color-quadros-linha-01: #9abec0;
  --mt-color-quadros-linha-02: #455a5a;
  --mt-color-quadros-pictogramas-fonte-01: #455a5a;
  --mt-color-quadros-pictogramas-fonte-02: #615936;
  --mt-color-quadros-pictogramas-fonte-03: #7d8c8b;
  --mt-color-quadros-pictogramas-fonte-04: #9abec0;
  --mt-color-quadros-pictogramas-fonte-05: #000000;
  --mt-color-quadros-pictogramas-bg-01: #ccdfdf;
  --mt-color-quadros-pictogramas-bg-02: #ded8cb;
  --mt-color-quadros-pictogramas-bg-03: #ebf2f2;
  --mt-color-quadros-pictogramas-linha-01: #9abec0;
  --mt-color-quadros-pictogramas-linha-02: #ccdfdf;
  --mt-color-tabela-fonte-01: #455a5a;
  --mt-color-tabela-fonte-02: #ffffff;
  --mt-color-tabela-fonte-03: #000000;
  --mt-color-tabela-bg-01: #455a5a;
  --mt-color-tabela-bg-02: #9abec0;
  --mt-color-tabela-bg-03: #b3cfcf;
  --mt-color-tabela-bg-04: #ccdfdf;
  --mt-color-tabela-bg-05: #e6efef;
  --mt-color-tabela-bg-06: #ecefee;
  --mt-color-tabela-linha-01: #ffffff;
  --mt-color-tabela-linha-02: #9abec0;
}
