:host {
  --mt-titulo-h5-text-color: var(--mt-color-titulo-h5-fonte);
  --mt-titulo-h5-text-font-family: "Roboto", sans-serif;
  --mt-titulo-h5-text-font-weight: 800;
  --mt-titulo-h5-text-text-transform: uppercase;
  --mt-titulo-h5-text-font-size: 10px;
  --mt-titulo-h5-line-color: var(--mt-titulo-h5-text-color);
  --mt-titulo-h5-line-font-size: 8px;
  --mt-titulo-h5-line-margin: 0 4px 0 0;
  display: block;
}

.mt-titulo-h5__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mt-titulo-h5__line {
  color: var(--mt-titulo-h5-line-color);
  font-size: var(--mt-titulo-h5-line-font-size);
  margin: var(--mt-titulo-h5-line-margin);
}
.mt-titulo-h5__text {
  color: var(--mt-titulo-h5-text-color);
  font-family: var(--mt-titulo-h5-text-font-family);
  font-weight: var(--mt-titulo-h5-text-font-weight);
  text-transform: var(--mt-titulo-h5-text-text-transform);
  font-size: var(--mt-titulo-h5-text-font-size);
  line-height: 1;
  margin: 0;
}