:host {
  --mt-titulo-h3-text-color: var(--mt-color-titulos-h3-fonte);
  --mt-titulo-h3-text-font-family: "Roboto", sans-serif;
  --mt-titulo-h3-text-font-weight: 900;
  --mt-titulo-h3-text-font-size: 14px;
  --mt-titulo-h3-line-color: var(--mt-color-titulos-h2-linha);
  --mt-titulo-h3-line-height: 4px;
  --mt-titulo-h3-line-padding: 4px 0 0 0;
}

.mt-titulo-h3__text {
  color: var(--mt-titulo-h3-text-color);
  font-family: var(--mt-titulo-h3-text-font-family);
  font-weight: var(--mt-titulo-h3-text-font-weight);
  font-size: var(--mt-titulo-h3-text-font-size);
  padding: var(--mt-titulo-h3-line-padding);
  border-top: var(--mt-titulo-h3-line-height) solid var(--mt-titulo-h3-line-color);
}

:host {
  display: block;
}