:host {
  --mt-titulo-h3-text-color: var(--mt-color-titulo-h3-fonte);
  --mt-titulo-h3-text-font-family: "Roboto", sans-serif;
  --mt-titulo-h3-text-font-weight: 900;
  --mt-titulo-h3-text-text-transform: uppercase;
  --mt-titulo-h3-text-font-size: 14px;
  --mt-titulo-h3-line-color: var(--mt-color-titulo-h3-linha);
  --mt-titulo-h3-line-width: 100%;
  --mt-titulo-h3-line-height: 4px;
  --mt-titulo-h3-line-margin: 0 0 2px 0;
  display: block;
}

.mt-titulo-h3__container {
  display: flex;
  flex-direction: column;
}
.mt-titulo-h3__line {
  margin: var(--mt-titulo-h3-line-margin);
  background-color: var(--mt-titulo-h3-line-color);
  width: var(--mt-titulo-h3-line-width);
  height: var(--mt-titulo-h3-line-height);
}
.mt-titulo-h3__text {
  color: var(--mt-titulo-h3-text-color);
  font-family: var(--mt-titulo-h3-text-font-family);
  font-weight: var(--mt-titulo-h3-text-font-weight);
  text-transform: var(--mt-titulo-h3-text-text-transform);
  font-size: var(--mt-titulo-h3-text-font-size);
  line-height: 1;
  margin: 0;
}