@charset "UTF-8";
:host {
  --mt-titulo-h4-text-color: var(--mt-color-titulos-h4-fonte);
  --mt-titulo-h4-text-font-family: "Roboto", sans-serif;
  --mt-titulo-h4-text-font-weight: 900;
  --mt-titulo-h4-text-font-size: 12px;
  --mt-titulo-h4-text-content: "▶";
}

.mt-titulo-h4__text {
  color: var(--mt-titulo-h4-text-color);
  font-family: var(--mt-titulo-h4-text-font-family);
  font-weight: var(--mt-titulo-h4-text-font-weight);
  font-size: var(--mt-titulo-h4-text-font-size);
}
.mt-titulo-h4__text::before {
  content: var(--mt-titulo-h4-text-content);
  color: inherit;
}

:host {
  display: block;
}