:host {
  --mt-quadro-06-padding: 12px;
  --mt-quadro-06-background-color: var(--mt-color-quadros-bg-03);
  --mt-quadro-06-title-color: var(--mt-color-quadros-fonte-02);
  --mt-quadro-06-title-font-family: "Noto Sans", sans-serif;
  --mt-quadro-06-title-font-weight: 700;
  --mt-quadro-06-title-text-transform: none;
  --mt-quadro-06-title-font-size: 16px;
  --mt-quadro-06-title-margin: 0 0 12px 0;
  --mt-quadro-06-text-color: var(--mt-color-quadros-fonte-02);
  --mt-quadro-06-text-font-family: "Noto Sans", sans-serif;
  --mt-quadro-06-text-font-weight: 400;
  --mt-quadro-06-text-text-transform: none;
  --mt-quadro-06-text-font-size: 16px;
  display: block;
}

.mt-quadro-06__container {
  padding: var(--mt-quadro-06-padding);
  background-color: var(--mt-quadro-06-background-color);
}
.mt-quadro-06__title {
  color: var(--mt-quadro-06-title-color);
  font-family: var(--mt-quadro-06-title-font-family);
  font-weight: var(--mt-quadro-06-title-font-weight);
  text-transform: var(--mt-quadro-06-title-text-transform);
  font-size: var(--mt-quadro-06-title-font-size);
  line-height: 1;
  margin: var(--mt-quadro-06-title-margin);
}
.mt-quadro-06__text {
  color: var(--mt-quadro-06-text-color);
  font-family: var(--mt-quadro-06-text-font-family);
  font-weight: var(--mt-quadro-06-text-font-weight);
  text-transform: var(--mt-quadro-06-text-text-transform);
  font-size: var(--mt-quadro-06-text-font-size);
  line-height: 1;
  margin: 0;
}