:host(.mt-medcurso-title-h1.mt-car-title-h1.mt-2026-title-h1) .mt-title-h1__pre-title {
  border: 1px solid red;
}

:host {
  --mt-title-h1-line-color: #9abec0;
  --mt-title-h1-pre-title-color: #9a999e;
  --mt-title-h1-title-color: #455a5a;
  --mt-title-h1-subtitle-color: #607b7a;
  display: block;
}

.mt-title-h1 {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  border-left: 12px solid var(--mt-title-h1-line-color);
}
.mt-title-h1__pre-title, .mt-title-h1__title, .mt-title-h1__subtitle {
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1;
}
.mt-title-h1__pre-title {
  font-size: 16px;
  color: var(--mt-title-h1-pre-title-color);
}
.mt-title-h1__title {
  margin: 4px 0;
  font-weight: 600;
  font-size: 40px;
  color: var(--mt-title-h1-title-color);
}
.mt-title-h1__subtitle {
  font-size: 24px;
  color: var(--mt-title-h1-subtitle-color);
}