:host {
  --mt-imagem-floated-margin: 0 0 30px 0;
  display: block;
}
:host::after {
  content: "";
  display: table; /* or block */
  clear: both;
}

::slotted(img) {
  shape-outside: var(--mt-imagem-floated-image);
  float: right;
  margin: var(--mt-imagem-floated-margin);
  max-width: 100%;
}