:host(.mt-medcurso.mt-car.mt-2026.mt-titulo-h1) .mt-titulo-h1__pre-title {
  display: none;
}

:host {
  --mt-titulos-h1-line-color: var(--mt-color-titulos-capitulo-linha);
  --mt-titulos-h1-line-padding: 0 0 0 8px;
  --mt-titulos-h1-pre-title-color: var(--mt-color-titulos-capitulo-fonte);
  --mt-titulos-h1-pre-title-font-family: "Roboto", sans-serif;
  --mt-titulos-h1-pre-title-font-weight: 100;
  --mt-titulos-h1-pre-title-font-size: 16px;
  --mt-titulos-h1-title-color: var(--mt-color-titulos-h1-fonte);
  --mt-titulos-h1-title-font-family: "Roboto", sans-serif;
  --mt-titulos-h1-title-font-weight: 900;
  --mt-titulos-h1-title-font-size: 40px;
  --mt-titulos-h1-title-margin: 4px 0 4px 0;
  --mt-titulos-h1-subtitle-color: var(--mt-color-titulos-h2-fonte);
  --mt-titulos-h1-subtitle-font-family: "Roboto", sans-serif;
  --mt-titulos-h1-subtitle-font-weight: 300;
  --mt-titulos-h1-subtitle-font-size: 24px;
}

.mt-titulo-h1__container {
  padding: var(--mt-titulos-h1-line-padding);
  border-left: 10px solid var(--mt-titulos-h1-line-color);
}
.mt-titulo-h1__pre-title {
  color: var(--mt-titulos-h1-pre-title-color);
  font-family: var(--mt-titulos-h1-pre-title-font-family);
  font-weight: var(--mt-titulos-h1-pre-title-font-weight);
  font-size: var(--mt-titulos-h1-pre-title-font-size);
}
.mt-titulo-h1__title {
  color: var(--mt-titulos-h1-title-color);
  font-family: var(--mt-titulos-h1-title-font-family);
  font-weight: var(--mt-titulos-h1-title-font-weight);
  font-size: var(--mt-titulos-h1-title-font-size);
  margin: var(--mt-titulos-h1-title-margin);
}
.mt-titulo-h1__subtitle {
  color: var(--mt-titulos-h1-subtitle-color);
  font-family: var(--mt-titulos-h1-subtitle-font-family);
  font-weight: var(--mt-titulos-h1-subtitle-font-weight);
  font-size: var(--mt-titulos-h1-subtitle-font-size);
}

:host {
  display: block;
}