:host {
  --mt-titulo-resumo-text-color: var(--mt-color-titulo-resumo-fonte);
  --mt-titulo-resumo-text-font-family: "Roboto", sans-serif;
  --mt-titulo-resumo-text-font-weight: 900;
  --mt-titulo-resumo-text-text-transform: uppercase;
  --mt-titulo-resumo-text-font-size: 14px;
  display: block;
}

.mt-titulo-resumo__text {
  color: var(--mt-titulo-resumo-text-color);
  font-family: var(--mt-titulo-resumo-text-font-family);
  font-weight: var(--mt-titulo-resumo-text-font-weight);
  text-transform: var(--mt-titulo-resumo-text-text-transform);
  font-size: var(--mt-titulo-resumo-text-font-size);
  line-height: 1;
  margin: 0;
}